body{
	margin-left: 400px;
	margin-right: 400px;
	}
h1{
	color:#ff3300;
	font-size: 45px;
}
#spanH1{
	color:rgb(25, 71, 209);
}
#spanH2{
	color:rgb(255, 51, 0);
}
h1,#spanH1{
	font-family: impact;
}
header,#headerSide{
	display: inline-block;
}

header a{
	padding: 2px;
}
#headerSide{
	position: absolute;
	right: 400px;
	top: 60px;
	font-size: 13px;
}
nav ul li{
	display: inline-block;
	padding-right: 10px;
	font-size: 18px;
	font-family: arial;
}
#li1{
	margin-left: -38px;
}
a{
	text-decoration: none;
	transition:all 0.05s ease;
}
a:hover{
	color:rgb(255, 51, 0);
}
ul li{
	display: inline-block;
	list-style: none;
	margin-right: 20px;
	font-size: 22px;
}	
.drop1{
	display: none;
}
.drop1 li{
	font-size: 14px;
	padding: 5px;
}
.drop1 li a:hover{
	text-decoration: underline;
}
ul li:hover .drop1{
	display:block;
	position: absolute;
	border:solid 1px rgba(0,0,0,0.1);
	background-color:white;
}
li li{
	display: block;

}
#container1{
	background-color:rgb(25, 71, 209);
	padding-bottom: 10px;
	padding-left: 10px;
}
#container1 a{
	color:white;
}
#container1 h4,h5,h6{
	display: inline-block;
}
#container1 h5{
	margin-left: 200px;
}
#container1 h4{
	margin-left: 10px;
}
h4,h5,h6{
	color: white;
}

#container1.1.1,#container1.1.2,#container1.1.3{
	display: inline-block;
}

#showtour{
	background-color:rgba(255, 51, 0, 1);
    color:white;
    width: 15em;
}

#sectionHead{
	font-family: arialblack;
	font-size: 25px;
	color: black;
}
#section2 a{
	font-size: 13px;
}
#section3 a{
	font-size: 13px;
}
#section2,#section3{
	display: inline-block;
	color:blue;
}
#section4{
	color:rgb(255, 51, 0);
	font-size: 18px;
}
#span1,#span2{
	display: inline-block;
}
#span3,#span4{
	display: inline-block;
}
#span1,#span2,#span3,#span4{
	font-size: 14px;
}
#section2 a:hover{
	text-decoration: underline;
}
#section3 a:hover{
	text-decoration: underline;
}
#span1 a:hover{
	text-decoration: underline;
}
#span2 a:hover{
	text-decoration: underline;
}
#span3 a:hover{
	text-decoration: underline;
}
#span4 a:hover{
	text-decoration: underline;
}


table{
	font-size: 12px;
}
td{
	padding-top: 8px;
	padding-bottom: 0px;
}
#tdSpace{
	padding-right: 40px;
}
td a:hover{
	text-decoration: underline;
}
#sec6-3-1{
	padding-top: 10px;
	position: absolute;
}
#table2{
	margin-left: 110px;
	position: absolute;
}
#sec6-3-1,#table2{
	display: inline-block;
}
#btn5-2-1,#btn5-2-2,#btn5-2-3{
	width: 10em;
}
#btn6-2-1,#btn6-2-2,#btn6-2-3{
	width: 14em;
}
#btn5-2-1{
	background-color:rgb(25, 71, 209);
    color:white;
}
#btn6-2-1{
	background-color:rgb(25, 71, 209);
    color:white;
}
#fDestinations{
	padding-top: 10px;
}
#fDestinations,#tReviews{
	display: inline-block;
}
#tReviews-1{
	font-size: 13px;
	padding-left: 3px;
	padding-top: 8px;
}
#tReviews-2{
	font-size: 12px;
	padding-left: 5px;
	padding-top: 8px;
}
#tComment{
	font-size: 11px;
	color: rgba(0,0,0,0.7);
	padding-bottom: 16px;
}
#tReviewsMore{
	text-align: right;
	font-size: 12px;
	padding-top:20px;
}
#tReviewsMore a:hover{
	text-decoration: underline;
}
#fDestinationsMore{
	text-align: right;
	font-size: 12px;
}
#fDestinationsMore a:hover{
	text-decoration: underline;
}
#newsletter{
	background-color:rgba(25, 71, 209,0.4);
	padding: 10px;
	margin-right: 20px;
}
#btn-email,#btn-signUp{
	padding: 4px;
}
#btn-email{
	padding: 5px;
	width: 19em;
}
#btn-signUp{
	background-color:rgba(255, 102, 0,0.8);
	width: 8em;

}
#newsletter2,#newsletter3{
	display: inline-block;
}
#newsletter-1{
	font-size: 13px;
}
#needHelp{
	font-size: 15px;
	color: rgba(0,0,0,0.8);
}
#needHelp,#newsletter{
	display: inline-block;
}
#needHelp-1,#needHelp-2{
	display: inline-block;
}
#needHelp-2-1,#needHelp-2-2,#needHelp-2-3{
	display: inline-block;
}
#table3{
	background-color: rgba(0,0,0,0.08);
	padding-left: 30px;
}
#table3 td{
	padding-right: 25px;
	padding-left: 10px;
	padding-bottom: 4px;
}
#table3 a{
	color: black;
}
#table3 a:hover{
	text-decoration: underline;
}
#foot1,#foot2{
	display: inline-block;
	margin-left: 5px;
}
#foot1 h1{
	font-size: 28px;
}
#foot2{
	font-size: 12px;
}
#credits{
	font-family: sans-serif;
	font-size: 16px;
	font-style: italic;
	color:rgba(0,0,0,0.8);
	background-color:rgba(0,0,0,0.1);
	border: solid 1px black;
	border-radius: 6px;
	padding: 5px;
	transition:all 0.5s ease;
}
#credits:hover{
	color:rgba(0,0,0,1);
	background-color:rgba(0,0,0,0.3);
	transform:scale(1.02);
}



section,#slider{
	display: inline-block;
}
#section5,#section6{
	display: inline-block;
}
#section6{
	margin-left: 25px;
}
#sec5.1,#sec6.1{
	color: black;
	font-size: 20px;
}
#sec5.2.1{
	background-color: rgba(0,0,0,0.2);
	border: solid 1px rgba(0,0,0,0.6); 
	color: rgba(0,0,0,0.8);
}
#sec5.2.2{
	background-color: rgba(0,0,0,0.2);
	border: solid 1px rgba(0,0,0,0.6); 
	color: rgba(0,0,0,0.8);
}
#sec5.2.3{
	background-color: rgba(0,0,0,0.2);
	border: solid 1px rgba(0,0,0,0.6); 
	color: rgba(0,0,0,0.8};
}
